<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>898200925370-1fjffqa81o44ctlf1b2iaj1andiv9p10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898200925370-1fjffqa81o44ctlf1b2iaj1andiv9p10</string>
	<key>API_KEY</key>
	<string>AIzaSyAFVXnOeq3NsAg-Mb3VMbgY8zg5YUtPuA0</string>
	<key>GCM_SENDER_ID</key>
	<string>898200925370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topifish.glider</string>
	<key>PROJECT_ID</key>
	<string>api-9101058431890075688-215796</string>
	<key>STORAGE_BUCKET</key>
	<string>api-9101058431890075688-215796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898200925370:ios:5929dcbe0008296d</string>
	<key>DATABASE_URL</key>
	<string>https://api-9101058431890075688-215796.firebaseio.com</string>
</dict>
</plist>